//Colors:
$warning-red: rgb(226,73,88);
$special-purple: rgb(157,41,255);
$shadow: rgb(199,202,206);
$text-primary: rgb(74,74,74);
$text-purple: rgb(91,7,175);
$bg-purple: rgb(91,7,175);
$text-white: rgb(255,2555,255);
$bg-white: $text-white;
$horizontal-gray: rgb(255,255,226);
$link-light-blue: rgb(49,190,177);

