@import '../base';
.user-bubble-container {
  margin: 20px 10px;
}

.user-speech-bubble {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: flex-start;
  align-content: flex-start;
  direction: rtl;
}

.user-speech-bubble__edit {
  @include poly-fluid-sizing('height', (640px: 22.5px, 1920px: 45px));
  @include poly-fluid-sizing('width', (640px: 19.5px, 1920px: 39px));
  @include poly-fluid-sizing('bottom', (640px: -6px, 1920px: -12px));
  @include poly-fluid-sizing('right', (640px: -10px, 1920px: -20px));
  position: absolute;
  display: none;
}

.user-speech-bubble__content {
  position: relative;
  background: $bg-purple;
  border-radius: 10px;
  @include poly-fluid-sizing('max-width', (640px: 226.5px, 1920px: 719px));
  @extend %user-responsive-padding;
  filter: drop-shadow( 2px 2px 3px rgba(0, 0, 0, 0.4));
  p {
    @extend %bot-typed-title;
    margin: 0;
  }
}

.user-speech-bubble__conversetional {
  width: 25px;
  height: 25px;
  position: relative;
  left: 14px;
  bottom: 6.2px;
}